$width: 120px;
$button-width: 30px;
$spacing: 8px;
$color: #CF283A;
$border-width: calc(($width - $button-width) / 2) - (calc(2 / 3) * $spacing);
$rotation-speed: 1.5s;

.pokeball-container{
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeball {
  width: $width;
  height: $width;
  animation: rotate $rotation-speed linear infinite;
  left: calc(50% - #{calc($width / 2)});
  top: calc(50% - #{calc($width / 2)});
  
  .inner {
    width: $width;
    height: calc($width / 2);
    border: $border-width solid $color;
    box-sizing: border-box;
  }
  
  .upper, .lower {
    width: 100%;
    position: absolute;
    height: calc(50% - #{calc($spacing / 2)});
    overflow: hidden;
  }
  
  .upper {
    top: 0;
    
    .inner {
      border-radius: ((calc($width / 2)) + $border-width) ((calc($width / 2)) + $border-width) 0 0;
      border-bottom: 0;
      margin-bottom: calc(-1 * $spacing / 2);
    }
  }
  
  .lower {
    bottom: 0;
    
    .inner {
      margin-top: calc(-1 * $spacing / 2);
      border-radius: 0 0 ((calc($width / 2)) + $border-width) ((calc($width / 2)) + $border-width);
      border-top: 0;
    }
  }
  
  .middle {
    border-radius: 50%;
    width: $button-width;
    height: $button-width;
    background-color: $color;
    position: absolute;
    left: calc(50% - #{calc($button-width / 2)});
    top: calc(50% - #{calc($button-width / 2)});
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}