body{
    font-family: "Flexo-Demi";
    margin: 0;
    padding: 0;
}

.container{
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
